//Colours
$green: #6eb145;
$lightGrey: #505050;
$darkGrey: #262335;
$darkBlue: #252135;
$white: #fff;
$black: #000;

$primary: #5533ff; // Thats a sample how you could change a BootStrap variable.

// Fonts
$fontPoppins: 'Poppins', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontCenturyGothic: 'Gothic', sans-serif;
